/* CSS contact, logIn et SignIn */
.Contact {
  padding: 1rem 4rem;
  background-color: var(--panneau-color);
  color: var(--text-color);

  /*Panneau rajouté*/
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  max-width: 600px;
}

/*Pour le LogIn pour passer à SignIn, en vrai pareil pour tous*/
.contact-wrapper {
  height: calc(100vh - 120px); /* pleine hauteur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* optionnel pour éviter d’être collé au bord */
  box-sizing: border-box;
}

.Contact a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 1rem auto;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.Contact a:hover{
  color:var(--accent-color);
}

.Contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

#forgot-password {
  margin-top: 0rem;
  text-align: left;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
}

.contactForm label {
  font-weight: bold;
}

.contactForm input,
.contactForm textarea { /*La belle textarea*/
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  background-color: white;
  color: #000;
  font-family: inherit;
}

.contactForm button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contactForm button:hover {
  background-color: var(--tertiary-color);
}


/*Gestion mdp oublié*/
.hidden {
  display: none;
}