:root {
  --primary-color: #f26a24; /*Orange vif*/
  --secondary-color: #ffcc33 ; /*Jaune*/
  --tertiary-color: #f4a300 ; /*Orangé*/
  --accent-color : #0f7abf; /*Bleu vif*/
  --panneau-color : #1b3555; /*Bleu nuit mais plus clair qu avant*/
  --bg-color: #eff0f1 ; /*Gris très clair, presque blanc, comme vrais sites paris sportifs*/
  --header-color: #0e1b2e; /*Initialement la couleur du background*/
  --text-color: #f4f2ee; /*Blanc cassé*/
}

@font-face {
  font-family: 'League-Spartan';
  src: url('/public/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: left;
}

h1,h3,h4,h5,h6,p{ /*Gérer pour le h2 ! Utile ?*/
  margin: 0;
  padding: 0;
}

main{ /*C'est important, ça fait les marges dans le corps de la page*/
  margin: 3rem 2rem;
}

button {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--tertiary-color);
}

h1 {
  font-family: 'League-Spartan', sans-serif;
  color: var(--panneau-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}