/* homepage_style.css */
body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.Prévention {
  text-align: center;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  box-sizing: border-box;
}

